<%- include ("partials/header.ejs") %>
    <h2>About</h2>
    <p class="about">
        This is a captsone project from the course "<strong>The Complete 2024 Web Development Bootcamp</strong>" from <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/#instructor-1">Dr. Angela Yu</a>.
        <br> <br>In the version you're seeing I'm trying to use almost everything I've learned until now so i can train and apply instead of just seing it working.
        <br> <br>I know that it's a very simple and basic website, but helped me realize of how much I'm enjoying this and how much I still have to learn.
        <br> <br>My main objective is fullfilled for this as it's just a Blog for someone to write whatever the need and can be updated or deleted. I know it doesn't save, and it will be fresh everytime the server restarts, but I didn't implemented a DB like SQL because it wasn't part of this project objective.
             

    </p>


<%- include ("partials/footer.ejs") %>